@charset "utf-8";
/* CSS Document */
.qkybody{ background:#f2f1f6;}
.main_bg{ background:#f2f1f6;}
.ba_53{ background:#535353;}
.h100{ height:100%;}
.hauto{ height:auto !important;}
.h40{height:186px;}
.h260{height:260px;}
.socrllbox{ overflow-y:scroll;}
.xscorll{ overflow-x:scroll; overflow-y:hidden;}
.co_wx{color:#0db310;}
.br_wx{ border-color:#e4e4e6 !important}
.br_db{ border-bottom:1px dashed;}
.lh{ line-height:34px;}

.pro_zfcho a{ display:block;  border-radius:4px; border:1px solid #e4e4e6; color:#787878;  font-size:16px; text-align:center; line-height:32px; float:left; box-sizing:border-box; width:30%; margin-left:2.5%; margin-bottom:2.5%;} 
.pro_zfcho a.cur{ color:#0db310; border-color:#0db310;}
.pro_zfbut{ width:90%; display:block; border-radius:6px; background:#0db310; color:#fff; font-size:16px; text-align:center; line-height:40px; margin:14px auto; border:1px solid #0db310;}
.pro_zfbut.un{color:#666; border:1px solid #cacaca;
background: -webkit-linear-gradient(#fff, #f1f1f1);
background: linear-gradient(#fff, #f1f1f1);
background: -moz-linear-gradient(#fff, #f1f1f1);
}/*背景中间向头底渐变*/

.zf_input{ width:94%;border:1px solid #e4e4e6; height:36px; line-height:36px; margin:4px 3%; border-radius:4px; box-sizing:border-box; padding:0 16px;font-family: Arial,Microsoft YaHei;}
.zf_icon{animation:xz 1s linear infinite;transform:rotate(360deg); display: block; opacity:0; position:absolute; left:38%; top:0;}
.zf_icon.open{ opacity:1;}
@keyframes xz {
  0%{transform:rotate(0deg);}

　　50%{transform:rotate(180deg);}

　　100%{transform:rotate(360deg);}
}

.page{ position: absolute; left:0; top:0; transform:translateX(100%); width:100%; opacity:0;}
.page.open{  transform:translateX(0); opacity:1;}
.plu{ position:fixed; bottom:0; left:0; width:100%;box-sizing:border-box; padding:0 14px;}
.plu a{ line-height:32px; color:#999; font-size:14px;}

.s_box{ padding:14% 0; box-sizing:border-box;}

.a_box{ position:fixed; bottom:32px; left:2.5%; z-index:66666; border-bottom:1px solid #ddd; padding:6% 0; width:95%;}
.a_box .pro_zfbut.un:hover{ color:#fff;border:1px solid #0aa10d;
background: -webkit-linear-gradient(#34ca37, #0db310);
background: linear-gradient(#34ca37, #0db310);
background: -moz-linear-gradient(#34ca37, #0db310);}

.a_ul{ width:25%; float:left;}
.a_li{ width:84%; border-radius:50%; background:#0db310; color:#fff; display:block; margin:0 auto; text-align:center;}
.a_li:hover{ background:#34ca37;}

.btn{ width:60%; display:inline-block; padding:6px 0; background:#0db310; color:#fff; font-size:16px; text-align:center; border-radius:6px;}
.btn:hover{background:#34ca37;}
.btn.dal{ background:#f1f1f1; border:1px solid #ddd; color:#535353; width:50%;}
.btn.auto{ width:auto; padding:6px 10px;}

.input_btn input{ width:100%; background:#none; border:1px solid #ddd; height:36px; line-height:36px; box-sizing:border-box; padding:0 16px;font-family: Arial,Microsoft YaHei; color:#535353; border-right:0; border-radius:4px 0 0 4px;}
.input_btn  .btn{ border-radius:0 4px 4px 0; height:36px; line-height:36px; padding:0; width:auto; box-sizing:border-box;}

.lt_btn3{ width:100%;}
.lt_btn3 .btn{ display:block; font-size:14px; background:#fff; border:1px solid #ddd; color:#535353; padding:0; height:28px; line-height:28px; text-align:center;}
.lt_btn3 .btn:nth-child(1){ border-radius:4px 0 0 4px;}
.lt_btn3 .btn:nth-child(2){ border-right:0; border-left:0; border-radius:0; }
.lt_btn3 .btn:nth-child(3){ border-radius:0 4px 4px 0;}
.lt_btn3 .btn.active{background:#0db310; color:#fff; border-color:#0db310;}


.jl_li{}
.jl_li_up{ background:#fff; padding:16px; box-sizing:border-box;border-bottom:1px  dashed #eee;}
.jl_li_down{ background:#f6f6f6;padding:6px 0 0; border-bottom:1px solid #ddd; display:none; margin-bottom:10px;}
.down_li{ height:32px; line-height:32px; padding:0 16px;}
.line{ background:#fcfcfc; padding:6px 16px; border-top:1px dashed #ddd;}
.jl_iconbtn{ color:#0db310;}
.pb32{ padding-bottom:32px; overflow-y:scroll}

.wx_tx img{ width:50px; height:50px; display:block; margin:0 auto; border-radius:2px;}

.tx_input{ background:none; border:none; border-bottom:1px solid #eee; height:36px; line-height:36px; width:100%; box-sizing:border-box; padding: 0 16px;font-family: Arial,Microsoft YaHei; font-size:16px; color:#535353;}
.tx_icon{ top:6px; font-size:18px;}

.txli_more{ display:none;}
.sz_li:hover{ opacity:0.5}

.pages{  position:fixed; top:0; left:0; z-index:9999999; background:#f2f1f6; width:100%; height:100%;transform:translateX(100%); opacity:0;}
.pages.open{  transform:translateX(0); opacity:1;}